#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.app {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.app_header {
  margin-bottom: 20px;
  text-align: center;
}
